.single {

	padding: 10rem 0 4rem 0;
	min-height: 100vh;
	background: $white;
	z-index: 910;
	position: relative;
	margin: 30vh 0 0 0;

	.container {

		@include flexbox();
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;

	}

	&-content {

		@include flexbox();
		flex-flow: row;
		flex-wrap: wrap;
		width: 70%;
		
	}

	&-full-content {

		@include flexbox();
		flex-flow: row;
		flex-wrap: wrap;
		width: 100%;

	}

	&-thumbnail-bg {
		
		background-size: 100%;
		background-position: center center;
		min-height: 30vh;
		position: fixed;
		z-index: 900;
		width: 100%;
		top: 0;
		@extend .blur-grayscale;

	}

	&-thumbnail {

		width: 100%;

		img {

			width: 1000%;
			height: auto;

		}
	}

	&-title {

		@extend .title;
		border-left: 2px solid $white;
		border-bottom: 2px solid $white;
		color: $white;
		margin: -10vh 15% 0 15%;
		text-shadow: 0 2px 0 #171717;
		letter-spacing: 4px;
		-webkit-filter: none;
		filter: none;
		float:left;
		position: relative;
		z-index: 910;
		width: 70%;

	}


	&-navigation {

		@include flexbox();
		flex-flow: wrap;
		justify-content: space-between;

		a {

			color: $white;

		}
	}

	&-servicos-list {

		ul {

			list-style: none;
			@include flexbox();
			flex-flow: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0;
			padding: 0;

			li {

				p {

					color: $gray-1 !important;

				}

				@include tablet {

					width: calc( 80% / 2);
					margin: 0;

				}

				@include desktop-sm {

					width: calc( 85% / 4);
					margin: 0;

				}


			}
		}

	}
}


.single-full {

	padding: 4rem 0;
	min-height: 100vh;
	background: $white;
	z-index: 910;
	position: relative;
	margin: 30vh 0 0 0;

	.container {

		@include flexbox();
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;

	}


	&-content {

		@include flexbox();
		flex-flow: row;
		flex-wrap: wrap;
		width: 100%;

	}

	&-thumbnail-bg {
		
		background-size: 100%;
		background-position: center center;
		min-height: 30vh;
		position: fixed;
		z-index: 900;
		width: 100%;
		top: 0;
		@extend .blur-grayscale;

	}

	&-thumbnail {

		width: 100%;

		img {

			width: 1000%;
			height: auto;

		}
	}

	&-title {

		@extend .title;
		border-left: 2px solid $white;
		border-bottom: 2px solid $white;
		color: $white;
		margin: -10vh 15% 0 15%;
		text-shadow: 0 2px 0 #171717;
		letter-spacing: 4px;
		-webkit-filter: none;
		filter: none;
		float:left;
		position: relative;
		z-index: 910;
		width: 70%;

	}


	&-navigation {

		@include flexbox();
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		.btn-default {

			width: 10%;
			height: 1.5rem;

		}

		a {

			color: $white;
			
		}
	}
}