$orange-1: #f26821;
$orange-2: #f58532;
$orange-3: #f89f62;
$orange-4: #f6c6a4;

$gray-1: #343434;
$gray-2: #606062;
$gray-3: #acacad;
$gray-4: #e5e5e4;

$white: #FFFFFF;
$black: #000000;

$success: #8cc63e;